@import "variables";

.item_container {
  height: 80vh;
}

.movie_container {
  background-size: cover !important;
  background-repeat: no-repeat !important;

  .button_details {
    background: $color-main;
    color: #fff;
  }
}
