@import "variables";

.left,
.right {
  bottom: 5px;
  background: none;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.5);

  &:hover {
    color: rgb(255, 255, 255);
    transition: color ease 0.3s;
  }
}

.left {
  left: -5%;
}

.right {
  right: -5%;
}

.item {
  background: rgba(#000, 0.3);
}

.item:hover {
  background: $color-main !important;
  color: #fff !important;
  cursor: pointer;
  transition: all ease 0.3s;
}
